<div id="uploadTab" style="display: none;">
    <div class="container">
        <div class="row justify-content-center">
            <form class="col-md-8">
                <div class="mb-3">
                    <label for="fileInput" class="form-label">選擇檔案</label>
                    <input class="form-control bg-dark text-light border-secondary" type="file" id="fileInput">
                </div>
                <button type="button" class="btn btn-outline-success" onclick="uploadFile()">上傳</button>
            </form>
        </div>
    </div>
</div>
